:root {
    /** Source: https://colorffy.com/dark-theme-generator?colors=55e690-121212 **/
    /** Dark theme primary colors */
    --primary-a0: #ff7800;
    --primary-a1: #ff882e;
    --primary-a2: #ff974b;
    --primary-a3: #ffa665;
    --primary-a4: #ffb57e;
    --primary-a5: #ffc497;

    /** Dark theme surface colors */
    --surface-a0: #eee;
    --surface-a1: #ddd;
    --surface-a2: #fff;
    --surface-a3: #fff;
    --surface-a4: #fff;
    --surface-a5: #fff;

    /** Dark theme tonal surface colors */
    --tonal-a0: #fff2e7;
    --tonal-a1: #fff3ea;
    --tonal-a2: #fff5ec;
    --tonal-a3: #fff6ef;
    --tonal-a4: #fff8f2;
    --tonal-a5: #fff9f4;
}

* {
    all: unset;
}

head {
    display: none;
}

/** Body & app container **/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: var(--surface-a0);
    display: grid;
    place-items: stretch;
    color: #000;
    font-family: sans-serif;
}

#app {
    display: grid;
    place-items: stretch;
    grid-template-areas:
            "chat sidebar"
            "send-box copyright";
    grid-auto-columns: 21fr 3fr;
    grid-auto-rows: 22fr 2fr;
    overflow: hidden;
}

/** Chat window **/
#chat-window {
    grid-area: chat;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    overflow-y: scroll;
}

#chat-window > li {
    margin: 0.5rem 1rem;
}

#chat-window > li.system {
    text-align: center;
    margin: 2rem;
    color: var(--primary-a0);
}

#chat-window > li > .username {
    display: block;
    padding-bottom: 0.3rem;
    font-weight: bold;
}

#chat-window > li > .username > .datetime {
    margin-left: 0.5rem;
    font-size: 0.7rem;
    color: gray;
}

#chat-window > li > .message {
    font-size: 1rem;
}

/** Chat sidebar **/
#chat-sidebar {
    grid-area: sidebar;
    background: var(--surface-a1);
    padding: 1rem;
    overflow-y: scroll;
}

#chat-sidebar > #chat-connection-status {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#chat-sidebar > #chat-online-list > li {
    display: block;
    margin-bottom: 0.5rem;
}

/** Chat send box **/
#send-message-form {
    grid-area: send-box;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#send-message-form #chat-message-input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

/** Copyright text */
#copyright {
    grid-area: copyright;
    background: var(--surface-a1);
    display: flex;
    height: 100%;
    justify-content: center;
}

#copyright > span {
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    color: #000;
    text-align: center;
}

#copyright > span > a {
    cursor: pointer;
    color: var(--primary-a2);
    transition: all 200ms ease-in-out;
}

#copyright > span > a:hover {
    color: var(--primary-a0);
}

/** System notifications **/
.notification-box {
    text-align: center;
    cursor: pointer;
    position: absolute;
    min-width: 300px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px black;
    font-weight: bold;
    z-index: 9999;
}

.notification-box.error {
    background: rgb(161,0,0);
    background: linear-gradient(0deg, rgba(161,0,0,1) 0%, rgba(219,0,0,1) 100%);
}

.notification-box.success {
    background: rgb(0,161,0);
    background: linear-gradient(0deg, rgba(0,161,0,1) 0%, rgba(0,219,0,1) 100%);
}

/** Login overlay **/
#login-overlay {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    backdrop-filter: blur(3px);
}

#login-overlay div:first-child {
    background: var(--surface-a1);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--surface-a2);
    text-align: center;
    justify-content: center;
}

#login-overlay h1 {
    display: block;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--primary-a0);
}

/** Misc. **/
.text-success {
    color: #55e690;
}

.text-error {
    color: #e01b24;
}

.text-alert {
    color: #f6d32d;
}

.hidden {
    display: none !important;
}

input {
    display: block;
    background: var(--surface-a2);
    border: 1px solid var(--surface-a3);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #000;
}

input:active, input:focus {
    border: 1px solid var(--surface-a4);
}

input::placeholder {
    color: var(--surface-a5);
}

button {
    display: block;
    padding: 0.5rem 1rem;
    background: var(--surface-a2);
    border: 1px solid var(--surface-a3);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

button:hover {
    background: var(--surface-a3);
}

button:active {
    background: var(--surface-a3);
    border: 1px solid var(--surface-a4);
}

button:disabled, button:disabled:hover, button:disabled:focus, button:disabled:active {
    cursor: not-allowed;
    background: var(--surface-a2);
    border: 1px solid var(--surface-a2);
    color: var(--surface-a5);
}

li.online {
    color: black;
}

li.offline {
    color: gray;
}

li.unknown {
    color: gray;
    font-style: italic;
}
